*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.sidebar{
    float: left;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}
